.adventure-title::before{
    content: "";
    position: absolute;
    height: 3px;
    width: 60px;
    background-color: green;
    top: -7px;
}
.full-card:hover .adventure-title::before{
    background-color: #F7921E;
}
.slick-slide>div {
    margin: 0 10px;
}

.slick-list {
    margin: 0 -10px;
}